# === .NET Core ===
# Lờ các thư mục build, cache, và user-settings
/.vs/
Online_Health_Consultation_Portal/obj/
Online_Health_Consultation_Portal/bin/
Online_Health_Consultation_Portal/.env
Online_Health_Consultation_Portal/appsettings.json
Online_Health_Consultation_Portal/appsettings.*.json
/node_modules/
Online_Health_Consultation_Portal/serviceAccountKey.json
Online_Health_Consultation_Portal/OHCP_BK.csproj

# Lờ các file cài đặt/debug cá nhân
*.suo
*.user
*.user.*
*.log

# === Node.js (Cho React) ===
# Lờ thư mục thư viện
ohcp_fe/node_modules/
ohcp_fe/OHCP_FE.esproj.user

# Lờ các file build output
/dist/
/dist-ssr/

# Lờ các file log của Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Hệ điều hành & Editor ===
# macOS
.DS_Store

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Rider / IntelliJ
.idea/
