# === .NET Core ===
# Lờ các thư mục build, cache, và user-settings
/.vs/
obj/
/Online_Health_Consultation_Portal/bin/
/.env/

# Lờ các file cài đặt/debug cá nhân
*.suo
*.user
*.user.*
*.log

# === Node.js (Cho React) ===
# Lờ thư mục thư viện
/node_modules/

# Lờ các file build output
/dist/
/dist-ssr/

# Lờ các file log của Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Hệ điều hành & Editor ===
# macOS
.DS_Store

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Rider / IntelliJ
.idea/